<div class="panel panel-login">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6"><a href="#" class="active" id="login-form-link">Login</a></div>
      <div class="col-xs-6"><a href="#" id="register-form-link">Register</a></div>
    </div>
    <hr>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <%= form_for :user, html: { id: 'login-form', style: 'display: block;'} do |f| %>
          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Email' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Password' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.submit "LOG IN", class: "btn btn-primary btn-md btn-block login-button" %>
          </div>
        <% end %>

        <%= form_for :user, html: { id: 'register-form', style: 'display: none;'} do |f| %>
          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <%= f.text_field :name, class: 'form-control', placeholder: 'First Name' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </span>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Last Name' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                </span>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Email' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Password' %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon glyphicon-lock" aria-hidden="true"></span>
                </span>
                <%= f.text_field :name, class: 'form-control', placeholder: 'Confirm Password' %>
              </div>
            </div>
          </div>
          <div class="form-group ">
            <%= f.submit "REGISTER NOW", class: "btn btn-primary btn-md btn-block login-button" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>